$dark: #2F2F30;
$dark-light: #DBDCDE;
$dark-lighter: #A9ABAE;

$grey: #FAFAFA;
$grey-dark: #6C6D6F;
$grey-light: #D7D8DA;
$grey-lighter: #F7F7F7;

$green: #00A651;

$blue: #6665DD;

$white: #fff;

$yellow: #FFFBEC;