html,
body {
    height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Work Sans', sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: $dark;
  background-color: $grey-lighter;
}



/*placeholder styles*/
::-webkit-input-placeholder {
    color: $dark;
}

::-moz-placeholder {
    color: $dark;
}

:-moz-placeholder {
    color: $dark;
}

:-ms-input-placeholder {
    color: $dark;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

h1 {
    line-height: 32px;
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 192px;

    @media(max-width: 940px) {
        flex-direction: column;
    }
}


input,
select {
    font-family: 'Work Sans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    border: 0;
    outline: 0;
    box-shadow: none;
    background: none;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;

    &:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 24px $white !important;
    }
}

select {
    appearance: none;
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1264px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.box {
    background-color: $white;
    border: 1px solid $dark-light;
    border-radius: 8px;
    box-shadow: 1px 3px 3px 0 rgba(62, 63, 64, 0.1);
    &-top {
        padding: 28px 32px;
        box-sizing: border-box;

        @media(max-width: 450px) {
            padding: 28px 20px;
        }
    }
    &-bottom {
        background-color: $grey;
        border-top: 1px solid $dark-light;
        border-radius: 0 0 8px 8px;
        padding: 15px 32px;
        box-sizing: border-box;

        @media(max-width: 450px) {
            padding: 15px 20px;
        }

        &--tabs {
            padding: 23px 32px;
        }
    }
}

.icon {
    width: 18px;
    display: block;
}

.personal-id {
    display: flex;
    align-items: center;
    span {
        font-family: 'Source Code Pro', monospace;
        display: block;
        margin-right: 8px;
    }
    img {
        cursor: pointer;
    }
    &-title {
        font-family: 'Source Code Pro', monospace;
        line-height: 20px;
        font-size: 16px;
        color: $grey-dark;
        margin-bottom: 4px;

        @media(max-width: 560px) {
            margin-bottom: 0;
        }
    }
}


.status {
    color: $green;
    &-campaing {
        display: flex;
        align-items: center;
        margin-left: -1px;

        @media(max-width: 610px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &-block {
            position: relative;
            padding: 0 33px;
            box-sizing: border-box;

            @media(max-width: 610px) {
                margin-top: 16px;
                padding: 0;
                width: 100%;
            }

            &:first-child {
                padding-left: 0;

                @media(max-width: 610px) {
                    margin-top: 0;
                }

                &:before {
                    display: none;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 46px;
                background-color: $grey-light;

                @media(max-width: 610px) {
                    display: none;
                }
            }
        }

        &-title {
            line-height: 20px;
            font-size: 14px;
            color: $grey-dark;
            margin-bottom: 2px;

            @media(max-width: 610px) {
                margin: 0 16px 0 0;
            }
        }
        &-text {
            display: flex;
            align-items: center;
            .icon {
                margin-right: 8px;
            }
            a {
                color: $blue;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.form-line {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    @media(max-width: 610px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        display: block;
        white-space: nowrap;

        &--fixed {
            margin-right: 16px;
            max-width: 124px;
            width: 100%;
            text-align: right;

            @media(max-width: 610px) {
                margin-right: 0;
                max-width: 100%;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }

    &-start {
        align-items: flex-start;
        margin-bottom: 32px;
    }
    &--fields {
        margin-bottom: 0;
        max-width: 296px;
        width: 100%;

        @media(max-width: 610px) {
            max-width: 100%;
            flex-direction: row;
            align-items: center;
        }
    }
    &--range {
        &:last-child {
            margin-bottom: 0;
        }

        .form-line--fields {
            justify-content: flex-start;

            input[type="range"] {
                margin-right: 16px;
                max-width: 218px;
                width: 100%;
            }
        }
    }
    .field__wrap {
        position: relative;
        max-width: 296px;
        width: 100%;
        &--line {
            max-width: 192px;
            width: 100%;
            display: flex;

            @media(max-width: 610px) {
                max-width: inherit;
                width: calc(100% - 104px);
            }

            @media(max-width: 450px) {
                width: calc(100% - 96px);
            }

            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 11px;
                transform: translateY(-50%);
            }

            input {
                width: 100%;
                height: 40px;
                border-radius: 8px;
                border: 1px solid $dark-light;
                padding-left: 20px;
                box-sizing: border-box;
                &:focus {
                    box-shadow: 0 0 2px 1px  #aaa;
                }
            }
        }
    }
    &__item {
        margin-top: 16px;
        display: flex;
        align-items: center;
        position: relative;

        &--square {
            margin-top: 24px;
        }

        &:first-child {
            margin-top: 0;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);

            &:focus + label:before,
            &:focus:checked + label:before {
                box-shadow: 0 0 2px 2px rgba(#aaa, 0.5);
            }

            &:checked + label:before {
                border: 2px solid $green;
            }

            &:checked + label:after {
                opacity: 1;
            }
        }

        label {
            padding-left: 36px;
            display: block;
            position: relative;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                box-sizing: border-box;
            }

            &:before {
                width: 24px;
                height: 24px;
                left: 0;
                border: 1px solid $dark-lighter;
            }

            &:after {
                content: '';
                width: 12px;
                height: 12px;
                left: 6px;
                opacity: 0;
                background-color: $green;
            }
        }

        &--square {
            label {
                &:before {
                    border: 2px solid $dark-lighter;
                    border-radius: 4px;
                }

                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: 2px;
                    border-radius: 0;
                    background: url(./../img/check-green.svg) no-repeat center;
                }
            }
        }
    }
    .range {
        &-filed {
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #00A651 0%, #00A651 1%, #DBDCDE 1%, #DBDCDE 100%);
            appearance: none;

            &--last {
                background: linear-gradient(to right, #00A651 0%, #00A651 8%, #DBDCDE 8%, #DBDCDE 100%);
            }


            &::-webkit-slider-thumb {
                width: 19px;
                height: 19px;
                background: $green;
                border-radius: 50%;
                appearance: none;
                cursor: pointer;
            }

            &::-moz-range-thumb {
                width: 19px;
                height: 19px;
                background: $green;
                border-radius: 50%;
                appearance: none;
                cursor: pointer;
            }

            &:focus {
                &::-webkit-slider-runnable-track {
                    background-color: rgba(#307451, .05);
                }
            }
        }
    }
}