.search {
    display: flex;
    align-items: center;

    @media(max-width: 610px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .select-wrap {
        select {
            border: 0;
        }
    }

    &-wrap {
        width: 100%;
        max-width: 336px;
        position: relative;
        margin-right: 30px;
        box-sizing: border-box;

        @media(max-width: 610px) {
            max-width: 100%;
            margin: 0 0 16px;
        }
    }
    button {
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        color: $grey-dark;
        line-height: 24px;
        border: 0;
        width: 18px;
        height: 18px;
        background: url(../img/search.svg) no-repeat center left;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 16px;
        padding: 0;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 0 3px 1px rgba(#aaa, .3);
        }
    }
    input {
        background-color: $white;
        border: 1px solid  $dark-light;
        border-radius: 8px;
        width: 100%;
        transition: all 300ms ease;
        padding: 6px 16px 6px 41px;
        box-sizing: border-box;
        &:focus {
            box-shadow: 0 0 2px 1px  #aaa;
        }
    }
}